<appSettings>
  <add key="MailServer" value="dev-smpt.vidly.com"/>
  <add key="FacebookAppId" value="1880295142031612"/>
  <add key="FacebookAppSecret" value="ae6d3d781bd86f145e3e6fe4a306832a"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>